<style>
    img{
        height: 150px;
        width: 150px;
        object-fit:contain;
    }

    .column{
        float:left;
        width:20%;
    }
</style>

<h2>Who Are We</h2>

<div>
    <p>We are a South African non profit organisation (NPO) that believes in creating sustainable communities and environments for ourselves and those that will come after us in line with the United Nations Sustainable Development Goals, goal number eleven, which looks at sustainable cities and communities</p>
    <p>Skhonde waste collection was founded in the early 2010s, recognising the need for recycling in our country. Waste is one of the biggest contributors to global warming and climate change and if we want to combat the current fast climbing rate of climate change each household has to make the small and necessary lifestyle changes and start developing habits that will make our environment healthier.</p>
    <p>Our organisation aims to do this by providing a service in which we collect recyclable waste from homes, schools, small businesses and more, where it is then sent to a recovery facility to be cleaned and sold to companies that can then use the materials in their manufacturing process and products. </p>
    <p>We currently only operate in the City of Tshwane Metropolitan Municipality.</p>
</div>

<div>
<h3>Our mission</h3>
<p>We are a collection of individuals who want to make our environment cleaner and healthier and our communities more sustainable by reducing the amount of non-biodegradable waste we discard on it </p>
</div>

<div>
<h3>Our vision </h3>
<p>We would love to operate on a national level to provide all South Africans with our service and reduce the amount of non-biodegradable materials in our waste landfills which contribute to the deterioration of our environment. We also hope to create more jobs and opportunities through recycling and the work we do.</p>
</div>

<div>
    <h3>What can be recycled ?</h3>

 <div class="row">
  <div class="column">
   <div class="card">
    <h4>Paper</h4>
    <img class="recyclingImg" src="/images/paper.jpg" alt="Paper" />
    <br />
    </div>
   </div> 

   <div class="column">
    <div class="card">
    <h4>Plastic</h4>
    <img class="recyclingImg" src="/images/plastic 4.jpg" alt="Plastic" />
    <br />
    </div>
   </div>

  <div class="column">
   <div class="card">
    <h4>Glass</h4>
    <img class="recyclingImg" src="/images/glass.jpg" alt="Glass" />
    <br />
    </div>
    </div>

  <div class="column">
   <div class="card">
    <h4>Metal</h4>
    <img class="recyclingImg" src="/images/metal.jpg" alt="Metal" />
    <br />
   </div>
   </div>

  <div class="column">
   <div class="card">
    <h4>Cardboard</h4>
    <img class="recyclingImg" src="/images/cardboard.jpg" alt="Cardboard" />
   </div>
  </div>
</div>
</div>