@{
    ViewBag.Title = "Contact";
}

<h2 class="contact">Contact Us</h2>


<div>
    <label for="email">Email:</label>
    <p>info@skhondewastecollection.org</p>

    <label for=" phone">Phone:</label>
    <p><u>Simphiwe Skhonde</u></p>
    <p>+27 63 106 4611</p>

    <p><u>Landline</u></p>
    <p>+27 12 641 9832</p>
</div>

