<style>
    .farm{
        border:2px solid;
        width:300px;
        height:250px;
        text-align:center;
        float:left;
        margin:5px;
        background-color:darkseagreen;
    }

    .jojo {
        border: 2px solid;
        width: 300px;
        height: 250px;
        text-align: center;
        float: left;
        margin: 5px;
        background-color: darkseagreen;
    }
    .feeding {
        border: 2px solid;
        width: 300px;
        height: 250px;
        text-align: center;
        float: left;
        margin: 5px;
        background-color: darkseagreen;
    }
    img{
        width:200px;
        height:180px;
    }
    .accountInfo{
        display:block;
        position:absolute;
        padding:200px;
        padding-top:350px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>
<h1>Donations</h1>

<div>
<h2>Donate</h2>
    <div>
    <p>All contributions will go toward either one of the following projects</p>

    <div class="farm">
    <p>Learn how to farm</p>
        <img src="/images/farm.jpg"  alt="Learn how to farm"/>
    </div>

    <div class="jojo">
    <p>jojo tank project</p>
        <img src="/images/jojo tank.jpg" alt="Jojo tank" />
    </div>


    <div class="feeding">
    <p>feeding scheme</p>
        <img src="/images/feeding.jpg" alt="Feeding scheme" />
     </div>

    </div>
    <br />

    <div class="accountInfo">
        <p>Support one of these causes by donating into this bank account</p>

        <p>Account holder: Skhonde Waste Management</p>
        <p>Bank: Standard Bank</p>
        <p>Account number:68544792153 </p>
        <p><b>in the beneficiary reference please indicate which project you would like to contribute to</b></p>
    </div>
</div>

