
@{
    ViewBag.Title = "GetInvolved";
}
<style>
    img{
        height: 150px;
        width:150px;
        object-fit:contain;
    }
</style>

<h2>Get Involved</h2>

<p>please visit our donations page to offer financial assistance</p>

<p>you can use the following websites and pages to find out more about what you can do in your own home and in your life to reduce waste and to make our communities more sustainable and greener</p>
<div>
<h2>Our Partners</h2>

<p>say hello to our awesome partners</p>

    <img src="\images\ford.png" alt="Ford" />
    <br />
    <p>Ford Motor Company is an American multinational automobile manufacturer headquartered in Dearborn, Michigan, United States. It was founded by Henry Ford and incorporated on June 16, 1903. The company sells automobiles and commercial vehicles under the Ford brand, and luxury cars under its Lincoln luxury brand. <p></p>

    <img src="\images\engen.png" alt="Engen" />
    <br />
    <p>Engen Petroleum is a South African oil company focusing on the downstream refined petroleum products market and related businesses. The company’s core functions are the refining of crude oil, the marketing of primary refined petroleum products and the provision of convenience services via an extensive retail network</p>

    <img src="\images\ecopack.jpg" alt="Ecopack" />
    <br />
    <p>
        Ecopack is a third-generation family business run by brothers Francesco e Annalisa Ferri. Gender equality is a core value within the board of directors and in management positions, equally distributed between women and men. People from 80 different countries work at Ecopack. The company considers sustainability as one of its priorities and has always been committed to the development of green products.
    </p>

    <img src="\images\mpact.jpg" alt="Mpact" />
    <br />
    <p>Mpact is one of the leading paper and plastics packaging manufacturing businesses in southern Africa as well as the leading recycler of recovered paper and plastic.</p>

    <img src="\images\nedbank.png" alt="Nedbank" />
    <br />
    <p>Nedbank Group is a financial services group in South Africa offering wholesale and retail banking services as well as insurance, asset management, and wealth management. Nedbank Limited is a wholly owned subsidiary of Nedbank Group. </p>

    <img src="\images\woolworths.jpg" alt="Woothworths" />
    <br />
    <p>Woolworths Holdings Limited is a South African multinational retail company that owns the South African retail chain Woolworths, and Australian retailers David Jones and Country Road Group.</p>

    <img src="\images\vodacom.jpg" alt="Vodacom" />
    <br />
    <p>Vodacom Group Limited is a South African mobile communications company, providing voice, messaging, data and converged services to over 55 million customers</p>

    <img src="/images/johnson.jpg" alt="Johnson" />
    <br />
    <p>Johnson & Johnson (J&J) is an American multinational corporation founded in 1886 that develops medical devices, pharmaceuticals, and consumer packaged goods. Its common stock is a component of the Dow Jones Industrial Average</p>

    </div>

